dialog {
  max-width: 350px;
  margin: auto;
  padding: var(--s40) var(--s20);
  background-color: var(--background-tertiary);
  border-radius: 12px;
  border: none;

  /* Header Style */
  & header {
    position: relative;
    
    & #close-btn {
      position: absolute;
      
      top: -22px;
      right: 0;
      
      cursor: pointer;
    }
    
    & .title-info {
      margin-bottom: var(--s32);

      & h1 {
        margin-bottom: 0;
      }

      & p {
        color: var(--content-secondary);
      }
    }
  }

  & label {
    display: block;
    margin-bottom: var(--s4);
  }
  & input, textarea, select {
    width: 100%;
    margin-bottom: var(--s18);
  }
  & textarea {
    height: 83px;
  }
  & button {
    display: block;
    margin-top: var(--s20);
    margin-left: auto;
  }
}


/* Media Queries */
@media (width > 390px) {
  #form {
    max-width: 477px;
    padding: var(--s40);
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--s16);
  }
}
