ul { 
  & li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-divisor);
    padding-bottom: var(--s12);
    margin-top: var(--s32);
  }
}
.scheduled-time {
  margin-right: var(--s12);
}
.pet-owner-name, .service-description {
  color: var(--content-secondary);
  flex-grow: 1;
}
.service-description, .btn-remove {
  flex-basis: 100%;
}
.btn-remove {
  text-align: right;
  margin-top: var(--s8);
}

/* Media Queries */
@media (width > 390px) {
  .service-description, .btn-remove {
    flex-basis: auto;
  }
  .btn-remove {
    align-content: center;
  }
}