button {
  /* Reset styles */
  appearance: none;
  border: none;

  cursor: pointer;

  padding: var(--s12) var(--s20);
  border-radius: 8px;
  background-color: var(--content-brand);
  text-transform: uppercase;

  transition: background-color 150ms;
  
  box-shadow: 0px 0px 40px rgba(146, 130, 250, 0.3);

  &:hover {
    background-color: var(--background-highlights);
  }
}


