footer {
  text-align: center;

  padding: var(--s18) 0;
  margin-top: var(--s40);

  background-color: var(--background-tertiary);
}


/* Media Queries */
@media (width > 390px) {
  footer {
    position: relative;
    background-color: initial;

    & button {
      right: 605px;
      bottom: 10px;
      position: absolute;
    }
  }
}