/* COLORS */
:root {
  /* Content */
  --content-primary: #FFFFFF;
  --content-secondary: #98959D;
  --content-tertiary: #666666;
  --content-brand: #9282FA;

  /* Background */
  --background-primary: #151515;
  --background-secondary: #1E1E1E;
  --background-tertiary: #23242C;
  --background-brand: #9282FA;
  --background-highlights: #BDB4FA;

  /* Border */
  --border-primary: #3E3C41;
  --border-secondary: #86818C;
  --border-brand: #9282FA;
  --border-divisor: #353339;

  /* Accent */
  --accent-blue: #027DF0;
  --accent-blue-light: #16487A;
  --accent-yellow: #F0DC02;
  --accent-yellow-light: #756E1B;
  --accent-orange: #F09102;
  --accent-orange-light: #75501B;
}

/* TYPOGRAPHY */
:root {
    /* Font Family */
  --inter-tight-family: "Inter Tight", sans-serif;
  --inter-family: "Inter", sans-serif;

  /* Font Sizes */
  --fs-24: 1.5rem;
  --fs-16: 1rem;
  --fs-14: 0.875rem;
  --fs-12: 0.75rem;

  /* Font Weights */
  --fw-normal: 400; 
  --fw-medium: 500; 
  --fw-bold: 700; 

  /* Line Heights */
  --flh-32: 32px;
  --flh-24: 24px;
  --flh-16: 16px;
  
  /* Font Combinations */
  .title {
    font: var(--fw-bold) var(--fs-24)/var(--flh-32) var(--inter-tight-family);
  }

  /* Font Family */
  .paragraph-medium, .paragraph-small, .label-large, .label-medium, .label-small, .link {
    font-family: var(--inter-family);
  }

  /* Font Weight */
  .paragraph-medium, .paragraph-small, .link {
    font-weight: var(--fw-medium);
  }
  .label-large, .label-medium, .label-small {
    font-weight: var(--fw-bold);
  }

  /* Font Size */
  .label-large {
    font-size: var(--fs-16);
  }
  .paragraph-medium, .label-medium {
    font-size: var(--fs-14);
  }
  .paragraph-small, .label-small, .link {
    font-size: var(--fs-12);
  }

  /* Line Height */
  .paragraph-medium, .label-large, .label-medium {
    line-height: var(--flh-24);
  }
  .paragraph-small, .label-small, .link {
    line-height: var(--flh-16);
  } 
}

body {
  font-family: var(--inter-family);
}
